modules = ["java", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["jdk"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PeerQ Java Application"

[[workflows.workflow]]
name = "PeerQ Java Application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "java -cp bin:postgresql-42.6.0.jar com.peerq.Main"

[deployment]
run = ["sh", "-c", "cd src && javac -d ../bin com/peerq/Main.java && cd .. && java -cp bin com.peerq.Main"]
