modules = ["java", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["jdk"]

[workflows]

[deployment]
run = ["sh", "-c", "cd src && javac -d ../bin com/peerq/Main.java && cd .. && java -cp bin com.peerq.Main"]
