modules = ["java", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["jdk", "jetty", "maven"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PeerQ Web Application"

[[workflows.workflow]]
name = "PeerQ Web Application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./run.sh"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "cd src && javac -d ../bin com/peerq/Main.java && cd .. && java -cp bin com.peerq.Main"]

[[ports]]
localPort = 5000
externalPort = 80
